#desc{
	text-align: justify; 
}

#rate{
	font-weight: bold;
	font-size: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button{
	width: 80px;
	font-size: 120%;
}


.fa.fa-star{
	color:gray;
	border-color: red;
	font-size: 20px;

}

.fa-star.checked {
    color: orange;
    size: 100px;
}

.pagination :hover { 
    background-color: #D3D3D3;
    cursor: pointer;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding-top: 10px;  
    padding-left:10px;
    height:75px;
    width:140px;    
}

.divCenter{
    text-align: center;
}


.btn.btn-success{
    width: auto;
}