<div style="text-align: center;" *ngIf="products.length == 0">
<h3> Sorry but you don't have any orders yet </h3>
<button type="button" class="btn btn-success" routerLink= "/souq/home"> back to Home</button>
</div>



<div class="container-fluid " >
	<div class="row" *ngFor = "let product of products">
		<div class="col-sm-2"></div>
			<div class="well well-lg col-sm-8">

			    <div class="col-sm-3" >
			    	<img src="{{product.image}}" />

				</div>

			    <div class="col-sm-6" >
			    	<h3>{{product.name}}</h3>
						<!-- <span *ngIf="product.trate >= 1" class="fa fa-star checked"></span>
						<span *ngIf="product.trate >= 2" class="fa fa-star checked"></span>
						<span *ngIf="product.trate >= 3" class="fa fa-star checked"></span>
						<span *ngIf="product.trate >= 4" class="fa fa-star checked"></span>
						<span *ngIf="product.trate == 5" class="fa fa-star checked"></span>

						<span *ngIf="product.trate < 1" class="fa fa-star "></span>
						<span *ngIf="product.trate < 2" class="fa fa-star "></span>
						<span *ngIf="product.trate < 3" class="fa fa-star "></span>
						<span *ngIf="product.trate < 4" class="fa fa-star "></span>
						<span *ngIf="product.trate < 5" class="fa fa-star "></span> -->



                        <rating [max]="max" (click)="UpdateRate(product.id,product.trate)" [(ngModel)]="product.trate"  [readonly]="isReadonly"></rating>
						<span id="rate">({{product.trate}}/5)</span>
					<p id="desc">{{product.description}}</p>
			    </div>

			    <div class="col-sm-3" >
			    	<h3>{{product.price}} LE</h3><br>
					<h4>{{product.stock}} avaialable</h4><br><br>
					
					<h3 id="rcorners2">State: <b>{{product.state}}</b></h3>
			    </div>
			</div>

		<div class="col-sm-2"></div>
	</div>


</div>

<div class="divCenter">
	<ul class="pagination" *ngFor="let page of pagesArr; let i = index">
	    <li>
	    	<a (click)="getMyOrders(i+1)">{{i+1}}</a>
	    </li>
 	</ul>
</div>
