img {
    max-width:80%;
    max-height: 80%;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.clientInfo
{
    width:100%;
    padding-left: 15%;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.btn{
	width: 120px;
	font-weight: bold;
	font-size: 18px;
}	


.pagination :hover { 
    background-color: #D3D3D3;
    cursor: pointer;
}

