  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->

   <div class="clientInfo">
	<div class="well col-sm-10 ">
		<div class="col-sm-1"></div>

			    <div class="col-sm-3" >
			    	<h3>{{productData.name}}</h3>
			    	<img src="{{productData.image}}" />

				</div>

			    <div class="col-sm-4" >
					<h3>Client Information</h3>
					<br>
			    	<table class="table table-condensed">
			    			<tr>
			    				<td><label>Name </label> </td>
			    				<td>{{userInfo.name}}</td>
			    			</tr>
			    			<tr>
			    				<td> <label> E-mail  </label></td>
			    				<td>{{userInfo.email}}</td>
			    			</tr>
			    			<tr>
			    				<td> <label> Address </label> </td>
			    				<td>{{userInfo.address}}</td>
			    			</tr>

			    	</table>

			    </div>

			    <div class="col-sm-3" style="text-align: right;">
			    	<h3>Order State</h3>
					<div class="dropdown">
					  <button class="btn btn-success">Ordered</button>
					  <div class="dropdown-content">
					    <button (click)="showMsg()" type="button"  class="btn btn-warning" > Received</button>
  					</div>
					<br><br><br><br>
  				</div>
  					<div id="msg" style="display: none; text-align: left" >
  						<h4>Are you sure you want to set this item as Received?</h4>
  						<h4 style="color: red">This Action can't be reversed</h4>
  						<button (click)="hideMsg()" type="button" class="btn btn-primary" > No</button>
  						<button (click)="deliver()" type="button" class="btn btn-danger" > Yes</button>
  					</div>



	</div>
