#desc{
	text-align: justify;
}

#rate{
	font-weight: bold;
	font-size: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button{
	width: 80px;
	font-size: 120%;
}


.fa.fa-star{
	color:gray;
	border-color: red;
	font-size: 20px;

}

.fa-star.checked {
    color: orange;
    size: 100px;
}

/* .pagination :hover {
    background-color: #D3D3D3;
    cursor: pointer;
} */

.divCenter{
  margin-left: 40%;
}
.pagination {
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 5%;
}

.pagination a {
    color: black;
    /*float: left;*/
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;

}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    cursor: pointer;
    }



.btn.btn-secondary{
    width: auto;
    color: blue;
}
.badge
{
    background-color:rgb(165, 50, 136);
    color: white;
    font-size:16px;
 }