<div style="text-align: center;" *ngIf="products.docs.length == 0">
<h3> Sorry but you don't have any products yet </h3>
<button type="button" class="btn btn-secondary" routerLink= "/addproduct"> Start adding products</button> 	
</div>




<div class="container-fluid " >
	<h2> My Products </h2>
	<div class="row" *ngFor = "let product of products.docs">
		<div class="col-sm-2"></div>
			<div class="well well-lg col-sm-8">

			    <div class="col-sm-3" >
			    	<img src="{{product.image}}" />

				</div>

			    <div class="col-sm-6" >
			    	<h3>{{product.name}}</h3>
						<!-- <span *ngIf="product.rating.T >= 1" class="fa fa-star checked"></span>
						<span *ngIf="product.rating.T >= 2" class="fa fa-star checked"></span>
						<span *ngIf="product.rating.T >= 3" class="fa fa-star checked"></span>
						<span *ngIf="product.rating.T >= 4" class="fa fa-star checked"></span>
						<span *ngIf="product.rating.T == 5" class="fa fa-star checked"></span>

						<span *ngIf="product.rating.T < 1" class="fa fa-star "></span>
						<span *ngIf="product.rating.T < 2" class="fa fa-star "></span>
						<span *ngIf="product.rating.T < 3" class="fa fa-star "></span>
						<span *ngIf="product.rating.T < 4" class="fa fa-star "></span>
						<span *ngIf="product.rating.T < 5" class="fa fa-star "></span> -->
                        <rating [max]="max" [(ngModel)]="product.rating.T"  [readonly]="isReadonly"></rating>
					<p id="desc">{{product.description}}</p>
			    </div>

			    <div class="col-sm-3" >
			    	<h3>{{product.price}} LE</h3>
					<p> Avaliable <span class="badge">{{product.stock}}</span></p>
					<a routerLink="/editproduct/{{product._id}}" type="" class="btn btn-success">Edit Product</a>
			    </div>
			</div>

		<div class="col-sm-2"></div>
	</div>




</div>

<div class="divCenter">
	<ul class="pagination" *ngFor="let page of pagesArr; let i = index">
	    <li>
	    	<a (click)="getProducts(i+1)">{{i+1}}</a>
	    </li>
 	</ul>


</div>
