* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #6C7A89;
}
.alert{
  color:red;
  display: inline;
  font-size:20px;
}
.producImage{
   height: 110%;
   width: 300%;
   margin-left: 30%;
}


*:focus {
  outline: none;
}

body {
  background-color: #03C9A9;
}

#wrapper {
  position: absolute;
  top: 50%;
  margin-top: -240px;
  left: 0;
  width: 100%;
}

#container {
  width: 720px;
  height: 480px;
  margin: 0 auto;
  margin-top: 5%;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background: #b3bead;

  /* Old browsers */
  background: -moz-linear-gradient(45deg, #b3bead 0%, #dfe5d7 60%, #fcfff4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #b3bead 0%, #dfe5d7 60%, #fcfff4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #b3bead 0%, #dfe5d7 60%, #fcfff4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#info {
  width: 52%;
  height: 480px;
  float: left;
  background: -moz-linear-gradient(45deg, #95a5a6 0%, rgba(208, 215, 216, 0) 56%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #95a5a6 0%, rgba(208, 215, 216, 0) 56%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #95a5a6 0%, rgba(208, 215, 216, 0) 56%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#info #product {
  width: 100%;
  margin: -50px 0 -85px -65px;
}
#info p {
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 1px;
}
#info #price {
  width: 50%;
  margin: 0 auto;
  letter-spacing: 1px;
}
#info #price h2 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: #000;
  padding-top: 10px;
}

#payment {
  width: 40%;
  float: right;
  padding: 95px 50px 25px 0;
}

#checkout {
  width: 100%;
}
#checkout input {
  margin-bottom: 15px;
}
#checkout label {
  float: left;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.6em;
  padding: 0 0 5px 10px;
}
#checkout #cvc-label {
  margin-left: 25px;
}
#checkout .card {
  width: 29%;
  margin: 0 10% 25px 10%;
  border: none;
  background: none;
  height: 50px;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
#checkout .card:focus {
  -webkit-filter: none;
  filter: none;
}

#checkout ::-webkit-input-placeholder {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #BDC3C7;
}

#checkout .btn {
  background: #03C9A9;
  border: none;
  width: 100%;
  padding: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  color: #ECECEC;
  cursor: pointer;
}
#checkout .btn:hover {
  background: #16A085;
}
.right{
  margin-left: 10%;
  margin-top:3%;
}
.divCenter{
  margin-left: 40%;
}
.pagination {
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 5%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;

}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


.productDetail{
  padding-left:auto;
  padding-right: auto;
  padding-top: auto;
}
body.noScroll { /* ...or body.dialogShowing */
  overflow: hidden;
}
.proSelectedImage{
   width:10%;
   heigh:10%;
   border-style: dotted;
}
.imagLogo{
  width:60%;
  height:60%;
  margin-left: 20%;
  margin-top: 10%;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 90%;
  z-index: 20;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(1,2,0,0.9); /*dim the background*/
  overflow-y:hidden;
}
.addtocartcase{
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  z-index: 90;
  margin-left: 30%;
  margin-top: 20%;
  margin-bottom: 2%;
  background-color: rgba(115, 223, 237,1); /*dim the background*/
  overflow-y:hidden;
}
