.badge
{
    background-color:rgb(165, 50, 136);
    color: white;
    font-size:16px;
 }

 img
 {
    width:200px;
    height:200px;
 }


.divCenter{
  margin-left: 40%;
}
.pagination {
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 5%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;

}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    cursor: pointer;
}
