.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
}


.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #00BFFF;
    color: white;
}