
<div class="order" *ngFor="let order of sellerOrders,let i=index">
      <div class="panel panel-default">
          <div class="panel-body">
              <div class="media">
                  <div class="media-left">
                    <img src="{{ order.prodId.image }}" class="media-object">
                  </div>
                  <div class="media-body">
                    <h3 class="media-heading">{{ order.prodId.name}}</h3>
                    <rating [max]="max" [(ngModel)]="rate"  [readonly]="isReadonly"></rating>
                    <p>{{ order.prodId.description}}</p>
                  </div>
                  <div class="media-right" style="width:15%">
                      <h4>{{ order.prodId.price}} EGP</h4>
                      <p> Avaliable <span class="badge">{{ order.prodId.stock}}</span></p>
                      <button class="btn btn-primary">View Order Details</button>
                    </div>
                </div>
          </div>
      </div>
    </div>




  



