<form action="/forgetPw/sendpw" method="post">

  <input placeholder="Email" type="text" name="email" value=""><br>

  <div class="btnSubmit">
    <input type="submit" name="" value="send password Mail">

</form>
