{{user}}

<p [hidden]="infohidden">
  user-profile-detail works!<br>

  {{user.email}}<br>
    {{user.name}}<br>
      <img src="{{user.image}}" alt=""><br>
        {{user.password}}<br>
</p>
<button (click)="edit()" [hidden]="infohidden">Edit</button>
<form (ngSubmit)="submitIt(loginForm)" #loginForm="ngForm" [hidden]="formhidden">
  User Name : <br>
  <input type="text" name="username" [(ngModel)]="user.name"><br>
  Password : <br>
  <input type="password" name="password" [(ngModel)]="user.password" ><br>
  Email : <br>
  <input type="email" name="email" [(ngModel)]="user.email"><br>
  Address :  <br>
  <input type="text" name="address" [(ngModel)]="user.address"><br>
  <input type="file" #fileupload ngModel name="image" (change)="fileUpload(fileupload.files)"
   base-sixty-four-input/>
  <input type="submit">
</form>
