<div class="" style="margin-left:5%;width:90%">
<carousel>
    <slide *ngFor="let product of products , let i=index">
      <a routerLink="/productdetails/{{product._id}}"><img src="{{product.image}}" alt="First slide" style="display: block; max-width: 50%"></a>
      <div class="carousel-caption d-none d-md-block">
        <h3>{{product.name}}</h3>
        <p>{{product.offer}} %OFF</p>
      </div>
    </slide>
  </carousel>
</div>
<br>
<br>
<hr>

  <div class="panel panel-info">
     <div class="panel-heading">Top Trending</div>
      <div class="panel-body">

        <div class="col-sm-2">
            <img class="img-fluid" src="/assets/images/photo_2.png" alt="Card image cap">
            <!--Title-->
            <h3 class="card-title">IPhone 6</h3>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <rating [max]="max" [(ngModel)]="rate"  [readonly]="isReadonly"></rating>

            <h4>10,000 EGP</h4>
      </div>

  </div>
</div>
