

<carousel>
    <slide>
      <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="First slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="" alt="Second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="" alt="Third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>

<br>
<br>
<hr>

  <div class="panel panel-info">
     <div class="panel-heading">Top Trending</div>
      <div class="panel-body">

        <div class="col-sm-2">
            <img class="img-fluid" src="/assets/images/photo_2.png" alt="Card image cap">
            <!--Title-->
            <h3 class="card-title">IPhone 6</h3>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <rating [max]="max" [(ngModel)]="rate"  [readonly]="isReadonly"></rating>

            <h4>10,000 EGP</h4>
      </div>

  </div>
</div>
