<!-- <a routerLink="/login">Login</a>
<a routerLink="/souq/userRegister">userRegister</a>
<a routerLink="/souq/sellerRegister">sellerRegister</a> -->
<!-- <router-outlet></router-outlet> -->
    <div class="container-fluid">

            <div class="row">
                    <div class="header">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <ul class="nav navbar-nav">

                        <li><button (click)="showSideMenu()" class="btn btn-default navbar-btn">

                            <i class="fas fa-bars fa-lg"></i>
                            </button></li>
                        <li> <a *ngIf="!logedUser.nationalID && configData.login" class="navbar-brand" routerLink="/userhome"> My Cart <i class="fab fa-opencart"></i></a></li>
                        <li> <a *ngIf="logedUser.nationalID && configData.login" class="navbar-brand" routerLink="/sellerHome"> My Cart <i class="fab fa-opencart"></i></a></li>
                        <li> <a *ngIf="!configData.login" class="navbar-brand"> My Cart <i class="fab fa-opencart"></i></a></li>
                        <li *ngIf="!logedUser.nationalID && configData.login">
                          <form class="navbar-form " method="POST" action="">
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for product" name="Query">
                                    <div class="input-group-btn">
                                      <button class="btn btn-default search" type="submit">
                                        <i class="glyphicon glyphicon-search icon"></i>
                                    </button>
                                    </div>
                                  </div>
                                </form>
                          </li>
                      </ul>


                      <ul class="nav navbar-nav navbar-right">
                          <li *ngIf="!configData.login"><a routerLink="/souq/userRegister"><span class="glyphicon glyphicon-user icon"></span> Sign Up</a></li>
                          <li *ngIf="!configData.login"><a routerLink="/souq/login"><span class="glyphicon glyphicon-log-in icon" ></span> Login</a></li>
                          <li *ngIf="configData.login"><img class="img-responsive img-circle" src={{logedUser.image}} width="50px"></li>
                          <li *ngIf="configData.login"><a routerLink="/souq/home/profile">{{logedUser.name}}</a></li>
                          <li *ngIf="!logedUser.nationalID && configData.login"><a routerLink="/souq/myCart"><i class="fas fa-shopping-cart fa-2x icon"></i></a></li>
                          <li *ngIf="configData.login" (click)="logout()"><a href="#"><span class="glyphicon glyphicon-log-out icon" ></span> Logout</a></li>
                      </ul>
                    </div>
                  </nav>

                  <ol class="breadcrumb" style="text-align:center">
                        <li><a routerLink="/AllCategories">All Categories</a></li>
                        <li *ngFor="let category of categories , let i=index">
                          <a href="#menu{{i}}" data-toggle="collapse" aria-expanded="false"> {{ category.Name }} </a>
                          <ul class="collapse list-unstyled" id="menu{{i}}">
                              <li *ngFor="let subcategory of category.subcategories , let i=index" class="subcategory">
                                  <a href="#"> {{ subcategory }} </a>
                              </li>
                          </ul>
                        </li>
                  </ol>
                </div>
                <div id="mySidenav" class="sidenav">
                  <button class="closebtn" (click)="HideSideMenu()">&times;</button>
                  <a *ngIf="!logedUser.nationalID && configData.login" routerLink="/userhome">Home</a>
                  <a *ngIf="logedUser.nationalID && configData.login" routerLink="/sellerHome">Home</a>
                  <a *ngIf="configData.login" routerLink="/souq/home/profile">My Account</a>
                  <a *ngIf="!logedUser.nationalID && configData.login" >My Orders</a>
                  <a *ngIf="logedUser.nationalID && configData.login" routerLink="/sellerOrders">Orders to Deliever</a>
                    <label>Categories</label>
                    <ul class="list-unstyled">
                      <li *ngFor="let category of categories , let j=index">
                          <a href="#Submenu{{j}}" data-toggle="collapse" aria-expanded="false">{{ category.Name }}</a>
                            <ul class="collapse list-unstyled" id="Submenu{{j}}">
                                <li *ngFor="let subcategory of category.subcategories , let i=index" class="subcategory">
                                    <a href="#"> {{ subcategory }} </a>
                                </li>
                            </ul>
                      </li>
                    </ul>

                </div>


            </div>
            <!-- load any page here in this div -->
            <div class="row" id="content">
              <router-outlet></router-outlet>
            </div>


    </div>
