    <div class="container-fluid">
            <div class="row">
                    <div class="header">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <ul class="nav navbar-nav">

                        <li><button (click)="showSideMenu()" class="btn btn-default navbar-btn">

                            <i class="fas fa-bars fa-lg"></i>
                            </button></li>
                        <li> <a *ngIf="!logedUser.hasNatId && logedUser" class="navbar-brand" routerLink="/souq/home"> My Cart <i class="fab fa-opencart"></i></a></li>
                        <li> <a *ngIf="logedUser.hasNatId && logedUser" class="navbar-brand" routerLink="/sellerHome"> My Cart <i class="fab fa-opencart"></i></a></li>
                        <li *ngIf="!logedUser.nationalID && configData.login">
      
                        <a routerLink="/souq/search" >
                            Search <span class="glyphicon glyphicon-search icon"></span>
                        </a>
                        
                          </li>

                      </ul>


                      <ul class="nav navbar-nav navbar-right">

                          <li *ngIf="logedUser.email==null"><a routerLink="/souq/userRegister"><span class="glyphicon glyphicon-user icon"></span> Sign Up</a></li>
                          <li *ngIf="logedUser.email==null"><a routerLink="/souq/login"><span class="glyphicon glyphicon-log-in icon" ></span> Login</a></li>
                          <li *ngIf="logedUser.image"><img class="img-responsive img-circle" src={{logedUser.image}} width="50px"></li>
                          <li *ngIf="logedUser.name"><a routerLink="/souq/home/profile">{{logedUser.name}}</a></li>
                          <li *ngIf="!logedUser.hasNatId && logedUser.email"><a routerLink="/souq/myCart"><i class="fas fa-shopping-cart fa-2x icon"><p class="badge1" [attr.data-badge]="cartCount"></p></i></a></li>
                          <li *ngIf="logedUser.name" (click)="logout()"><a routerLink="/souq/home"><span class="glyphicon glyphicon-log-out icon" ></span> Logout</a></li>
                      </ul>
                    </div>
                  </nav>

                  <div class="bar">
                    <li class="dropdown"><a class="btn dropbtn" routerLink="/AllCategories">All Categories</a></li>
                     <li class="dropdown" *ngFor="let category of categories , let i=index">
                        <a  id="myLink" class="btn dropbtn" data-delay="3000" data-close-others="false">
                            {{ category.Name }}
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let subcategory of category.subcategories , let i=index">
                                <a routerLink="/souq/product/{{subcategory}}"> {{ subcategory }} </a>
                            </li>
                        </ul>
                     </li>
                    </div>
                  <br><br><br>
                </div>
                <div id="mySidenav" class="sidenav">
                  <button class="closebtn" (click)="HideSideMenu()">&times;</button>
                  <a *ngIf="!logedUser.hasNatId && configData.login" routerLink="/souq/home">Home</a>
                  <a *ngIf="logedUser.hasNatId && configData.login" routerLink="/sellerHome">Home</a>
                  <a *ngIf="logedUser._id" routerLink="/souq/home/profile">My Account</a>
                  <a *ngIf="logedUser._id && !logedUser.hasNatId && configData.login" routerLink="/myOrders">My Orders</a>
                  <a *ngIf="logedUser.hasNatId && configData.login" routerLink="/sellerOrders">My Orders</a>
                  <a *ngIf="logedUser.hasNatId && configData.login" routerLink="/addproduct">Add product</a>

                    <label>Categories</label>
                    <ul class="list-unstyled">
                      <li *ngFor="let category of categories , let j=index">
                          <a href="#Submenu{{j}}" data-toggle="collapse" aria-expanded="false">{{ category.Name }}</a>
                            <ul class="collapse list-unstyled" id="Submenu{{j}}">
                                <li *ngFor="let subcategory of category.subcategories , let i=index" class="subcategory">
                                    <a routerLink="/souq/product/{{subcategory}}"> {{ subcategory }} </a>
                                </li>
                            </ul>
                      </li>
                    </ul>

                </div>


            </div>
            <!-- load any page here in this div -->
            <div class="row" id="content">
              <router-outlet></router-outlet>
            </div>


    </div>
<script>
$('.dropdown-toggle').dropdownHover(options);

</script>
