@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
div {
    font-family:"Poppins", "Lato", sans-serif;
}

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-40px;
   right:-15px;
   font-size:.7em;
   background:red;
   color:white;
   width:25px;height:22px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
.sidenav {
    height: 100%;
    width:0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6d7fc1;
    overflow-x: hidden;
    transition: all .5s;
    padding-top: 70px;
}
#content {
    transition: margin-left .5s;
    padding: 16px;
    position: relative;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    display: block;
    transition: all 0.3s;
}



.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    background: none;
    border: none;
    color: #f1f1f1;
    outline: none !important;
}
.sidenav .closebtn:hover
{
    color:white;
}
.sidenav a:hover {
    background-color: #f1f1f1;
    color:#6d7fc1;
}
.fa-bars:hover{
    color: #868383;
}
@media screen and (max-height: 450px) {
  .sidenav { width:300px;  }
  .sidenav a {font-size: 16px;}
}
.fa-shopping-cart
{
    color:#899ce2;

}
.fa-shopping-cart:hover
{
    color:#a2b4f3;

}
.fab
{
    color:rgb(84, 188, 223);
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}
.header
{
    transition: all .5s;
}
.sidenav a[data-toggle="collapse"] {
    position: relative;
} 

.sidenav a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 10px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
.sidenav a[aria-expanded="true"]::before {
    content: '\e260';
}
#catSubmenu a {
    font-size: 1.0em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
.subcategory {
    font-size: 0.8em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    /* text-align:center; */
    padding-left:15%;
    padding-right: 10%;
}

.icon
{

   color: #6d7fc1;
   outline: none;

}
.breadcrumb
{
    background-color: white;
}
.navbar-btn
{
    outline: none;
    border: none;
    background: none;
}
label
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: rgb(197, 207, 212);
    display: block;
    transition: all 0.3s;
}
 
 li.dropdown:hover > ul.dropdown-menu {
     /* position: absolute; */
      display: block;
      z-index: 2;
    }

    .dropbtn {
        background-color: #6d7fc1;
        color: white;
        font-size: 16px;
        border: none;
        
    }

  .dropdown
  {
      display: inline;
  } 
  .dropdown-menu
  {
    position: absolute;
    z-index: 20;
  } 
  .bar {
    text-align:center;
    padding: 7px;
    background-color: #6d7fc1;
}
.bar a:hover{
    
    color:#6d7fc1;
    background-color: rgb(243, 241, 241);
}
.bar ul
{
    padding:12px;
}

