<%include ../layout/header.ejs %>

<form class="" action="/auth/Sellerregister" method="post" enctype="multipart/form-data">
 Username <input type="text" name="username" value=""><br>
 Email <input type="text" name="email" value=""><br>
 Password <input type="password" name="password" value=""><br>
 Address <input type="text" name="address" value=""><br>
 NationalID <input type="text" name="ID" value=""><br>
 Image <input type="file" name="image" multiple="multiple" value=""><br>
  <input type="submit" name="" value="Submit">
</form>
<%include ../layout/footer.ejs %>
